version: "3.7"
services:

  #PHP Service
  thanosapp:
    build:
      context: ./
      dockerfile: Dockerfile
    image: php:7.4-fpm
    container_name: thanosapp
    restart: unless-stopped
    tty: true
    environment:
      APP_URL: http://ec2-3-235-244-40.compute-1.amazonaws.com
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - thanos

  #Nginx Service
  nginx:
    image: nginx:alpine
    container_name: thanosnginx
    restart: unless-stopped
    tty: true
    ports:
      #- "80:80"
      - 12000:80
    volumes:
      - ./:/var/www
      - ./nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - thanos

networks:
  thanos:
    driver: bridge