// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    font-family: $font-family-sans-serif;
    line-height: $line-height-base;
}

.api {
    background: rgb(238, 236, 236);
    padding: 15px;
    margin: 15px auto;
}

.lead {
    margin-bottom: 5px;
}

block.section {
    padding-top: 0px;
}