{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "team thanos",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://imageresize.microapi.dev"
  } ],
  "security" : [ {
    "ApiKeyAuth" : [ ]
  }, {
    "BearerAuth" : [ ]
  } ],
  "paths" : {
    "/v1/register" : {
      "post" : {
        "tags" : [ "Register" ],
        "summary" : "Register new user",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            }
          }
        }
      }
    },
    "/v1/download/{filename}" : {
      "get" : {
        "tags" : [ "Download" ],
        "summary" : "Dowmload the file",
        "parameters" : [ {
          "name" : "filename",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "makes file available for download"
          }
        }
      }
    },
    "/v1/upload" : {
      "post" : {
        "summary" : "Upload image",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Created"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "inline_response_200" : {
        "type" : "object",
        "properties" : {
          "token" : {
            "type" : "string"
          }
        }
      }
    },
    "securitySchemes" : {
      "ApiKeyAuth" : {
        "type" : "apiKey",
        "name" : "X-API-KEY",
        "in" : "header"
      },
      "BearerAuth" : {
        "type" : "http",
        "scheme" : "bearer"
      }
    }
  }
}