{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Team thanos",
    "description" : "Dockerized ImageResizer Written in PHP Laravel",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://imageresize.microapi.dev"
  } ],
  "paths" : {
    "/v1/register" : {
      "post" : {
        "tags" : [ "Register" ],
        "summary" : "Register new user",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/body"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "422" : {
            "description" : "Error: Unprocessable Entity",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_422"
                }
              }
            }
          }
        }
      }
    },
    "/v1/login" : {
      "post" : {
        "tags" : [ "Login" ],
        "summary" : "Login user",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "401" : {
            "description" : "Error Code",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/v1/download/{filename}" : {
      "get" : {
        "tags" : [ "Download" ],
        "summary" : "Dowmload the file",
        "parameters" : [ {
          "name" : "filename",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "makes file available for download"
          },
          "401" : {
            "description" : "API key is missing or invalid",
            "headers" : {
              "Authenticate" : {
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/v1/upload" : {
      "post" : {
        "tags" : [ "Upload" ],
        "summary" : "Upload image",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_2"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "API key is missing or invalid",
            "headers" : {
              "Authenticate" : {
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "BearerAuth" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "body_1" : {
        "required" : [ "accountID", "password" ],
        "type" : "object",
        "properties" : {
          "accountID" : {
            "type" : "string"
          },
          "password" : {
            "type" : "string"
          }
        }
      },
      "body_2" : {
        "required" : [ "Image", "height", "width" ],
        "type" : "object",
        "properties" : {
          "width" : {
            "type" : "integer"
          },
          "height" : {
            "type" : "integer"
          },
          "Image" : {
            "type" : "string",
            "format" : "binary"
          }
        }
      },
      "inline_response_422_errors" : {
        "type" : "object",
        "properties" : {
          "accountID" : {
            "type" : "string"
          }
        }
      },
      "inline_response_200_1" : {
        "type" : "object",
        "properties" : {
          "status_code" : {
            "type" : "integer"
          },
          "access_token" : {
            "type" : "string"
          },
          "token_type" : {
            "type" : "string"
          }
        }
      },
      "inline_response_200" : {
        "type" : "object",
        "properties" : {
          "token" : {
            "type" : "string"
          }
        }
      },
      "body" : {
        "required" : [ "accountID", "password", "password_confirmation" ],
        "type" : "object",
        "properties" : {
          "accountID" : {
            "type" : "string"
          },
          "password" : {
            "type" : "string"
          },
          "password_confirmation" : {
            "type" : "string"
          }
        }
      },
      "inline_response_401" : {
        "type" : "object",
        "properties" : {
          "status_code" : {
            "type" : "integer"
          },
          "message" : {
            "type" : "string",
            "description" : "Unauthorized! Please check your credentials"
          }
        }
      },
      "inline_response_422" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string"
          },
          "errors" : {
            "$ref" : "#/components/schemas/inline_response_422_errors"
          }
        }
      }
    },
    "responses" : {
      "UnauthorizedError" : {
        "description" : "API key is missing or invalid",
        "headers" : {
          "Authenticate" : {
            "style" : "simple",
            "explode" : false,
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "ApiKeyAuth" : {
        "type" : "apiKey",
        "name" : "X-API-KEY",
        "in" : "header"
      },
      "BearerAuth" : {
        "type" : "http",
        "scheme" : "bearer"
      }
    }
  }
}